[submodule "app/pfc-tool/mupdf"]
	path = app/pfc-tool/mupdf
	url = https://github.com/ArtifexSoftware/mupdf.git
[submodule "app/pfc-tool/libtiff"]
	path = app/pfc-tool/libtiff
	url = https://github.com/libsdl-org/libtiff.git
[submodule "app/pfc-tool/xz"]
	path = app/pfc-tool/xz
	url = https://github.com/tukaani-project/xz.git
[submodule "app/pfc-tool/zstd"]
	path = app/pfc-tool/zstd
	url = https://github.com/facebook/zstd.git
[submodule "app/pfc-tool/libwebp"]
	path = app/pfc-tool/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "app/pfc-tool/lerc"]
	path = app/pfc-tool/lerc
	url = https://github.com/Esri/lerc.git
