body {
	font-family: Arial, sans-serif;
	color: #333333;
	font-size: 12pt;
	background-color: #EFEFEF;
	padding: 0px;
	margin: 0px;
}

a {
	font-weight: bold;
	color: #4499FF;
}

h1 {
	display: inline;
}

.post {
	border: 1px solid #9c9c9c;
	background-color: #fcfcfc;
	padding: 4px;
	margin-bottom: 12px;
}

.postDate {
	font-size: 8pt;
	font-style: italic;
	padding: 4px;
}

.postContent {
	padding: 4px;
}

#head {
	height: 64px;
	margin-bottom: 24px;
}

#logo, #title {
	display: inline;
	float: left;
	vertical-align: middle;
	padding: 12px;
	height: 100%;
	height: 48px;
	line-height: 48px;
}

#wrapper {
	width: 600px;
	height: 100%;
	background-color: #FFFFFF;
	padding: 32px;
	margin-left: 40px;
}